@font-face {
  font-family: "Raleway-Bold";
  src: url("../static/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../static/Raleway-ExtraBold.ttf");
}
@font-face {
  font-family: "Raleway-Light";
  src: url("../static/Raleway-Light.ttf");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("../static/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../static/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-Thin";
  src: url("../static/Raleway-Thin.ttf");
}
.cart {
  width: 90%;
  margin: auto;
}
.cart .container_c h3 {
  margin-top: 4rem;
}
.cart .container_c .cont {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.cart .container_c .cont .productCart {
  display: flex;
  padding: 0.625rem 0;
  justify-content: space-between;
}
.cart .container_c .cont .productCart:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5137254902);
}
.cart .container_c .cont .productCart .col1 {
  display: flex;
  align-items: center;
}
.cart .container_c .cont .productCart .col1 span {
  font-family: "Raleway-Regular";
  font-size: 1rem;
  margin-left: 1rem;
}
.cart .container_c .cont .productCart .col1 .img {
  position: relative;
  width: 5.9375rem;
  height: 6.875rem;
}
.cart .container_c .cont .productCart .col1 .img img {
  position: absolute;
  left: 50%;
  height: 100%;
  transform: translate(-50%, 0);
}
.cart .container_c .cont .productCart .col2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cart .container_c .cont .productCart .col2 .price {
  font-family: "Raleway-Bold";
}
.cart .container_c .cont .productCart .col2 .thr {
  text-decoration: line-through;
  color: rgba(131, 131, 131, 0.5137254902);
}
.cart .container_c .cont .productCart .col2 .sale_price {
  color: #E0BEA2;
  margin-top: 0.5rem;
}
.cart .container_c .cont .productCart .col3 {
  display: flex;
  align-items: center;
}
.cart .container_c .cont .productCart .col3 .cartSlider {
  width: 5rem;
  display: flex;
  padding: 1rem;
  border: 1px solid rgba(37, 37, 37, 0.4117647059);
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.cart .container_c .cont .productCart .col3 .cartSlider p {
  margin: 0;
  font-family: "Raleway-Regular";
}
.cart .container_c .cont .productCart .col3 .cartSlider > * {
  height: -moz-max-content;
  height: max-content;
}
.cart .container_c .cont .productCart .col3 .cartSlider span {
  color: #E0BEA2;
  cursor: pointer;
}
.cart .container_c .cont .productCart .col4 {
  display: flex;
  align-items: center;
}
.cart .container_c .cont .productCart .col4 select {
  padding: 1rem;
  border: 1px solid rgba(37, 37, 37, 0.4117647059);
  align-items: center;
  font-size: 20px;
  font-family: "Raleway-Regular";
}
.cart .container_c .cont .productCart .col5 {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cart .summa {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  align-items: center;
}
.cart .summa span {
  font-family: "Raleway-Regular";
}
.cart .summa p {
  font-family: "Raleway-Bold";
  margin: 0;
  margin-left: 0.5rem;
}
.cart .order {
  display: flex;
}
.cart .order .left {
  width: 70%;
}
.cart .order .left h3 {
  line-height: 23.48px;
  font-family: "Raleway-Regular";
  font-size: 1.5rem;
  overflow: hidden;
}
.cart .order .left h4 {
  line-height: 18.78px;
  font-family: "Raleway-Regular";
  font-size: 1.1rem;
  margin-top: 2rem;
}
.cart .order .left span {
  padding: 0.1rem 0;
  font-family: "Raleway-Regular";
  font-size: 0.8rem;
  cursor: pointer;
  border-bottom: 1px solid black;
  width: -moz-max-content;
  width: max-content;
  margin-top: 1rem;
}
.cart .order .left .line {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.cart .order .left .line input {
  width: 49%;
  padding: 1rem;
}
.cart .order .left .delivery {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.cart .order .left .delivery > * {
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.cart .order .left .delivery > * input {
  overflow: hidden;
}
.cart .order .left .delivery > * input:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: #E0BEA2;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 5px solid white;
}
.cart .order .left .delivery > * label {
  margin-left: 0.5rem;
  font-family: "Raleway-Regular";
}
.cart .order .left .mail {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.cart .order .left .mail input {
  width: 49%;
  padding: 1rem;
}
.cart .order .left .d_block {
  margin-top: 1rem;
}
.cart .order .left .d_block .deliv {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart .order .left .d_block .deliv input {
  width: 49%;
  margin-top: 0.5rem;
  padding: 1rem;
}
.cart .order .left .payment .pay {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.cart .order .left .payment .pay > * {
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.cart .order .left .payment .pay > * input {
  overflow: hidden;
}
.cart .order .left .payment .pay > * input:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: #E0BEA2;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 5px solid white;
}
.cart .order .left .payment .pay > * label {
  margin-left: 0.5rem;
  font-family: "Raleway-Regular";
}
.cart .order .left .coupons input {
  padding: 1rem;
  width: 100%;
}
.cart .order .left .comment h4 {
  font-family: "Raleway-Regular";
}
.cart .order .left .comment textarea {
  padding: 1rem;
  width: 100%;
  height: 10rem;
}
.cart .order .right {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 7rem;
  margin-left: 2rem;
}
.cart .order .right span {
  font-family: "Raleway-Regular";
  border-bottom: 1px solid black;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 1rem;
  cursor: pointer;
}
.cart .order .right .fin {
  display: flex;
  flex-direction: column;
}
.cart .order .right .fin .l {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
}
.cart .order .right .fin .l h4 {
  margin: 0;
  font-family: "Raleway-Regular";
  font-size: 1rem;
}
.cart .order .right .fin .l p {
  margin: 0;
  font-family: "Raleway-Bold";
  margin-left: auto;
}
.cart .order .right .btn {
  background: #E0BEA2;
  color: white;
  font-family: "Raleway-Regular";
  padding: 1rem;
  border-radius: 0;
  width: 100%;
  margin-top: 2rem;
  text-transform: uppercase;
}
.cart .order .right .awn {
  font-family: "Raleway-Regular";
  margin-top: 1rem;
}
.cart .order .right .awn u {
  cursor: pointer;
}/*# sourceMappingURL=cart.css.map */