body
    margin: 0
* 
    font-family: sans-serif
    box-sizing: border-box

@keyframes but 
    0%
        background: #E0BEA2
    100%
        background: #da9761

@font-face 
    font-family: 'Raleway-Bold'
    src: url('../static/Raleway-Bold.ttf')
@font-face 
    font-family: 'Raleway-ExtraBold'
    src: url('../static/Raleway-ExtraBold.ttf')
@font-face
    font-family: 'Raleway-Light'
    src: url('../static/Raleway-Light.ttf')
@font-face 
    font-family: 'Raleway-Medium'
    src:   url('../static/Raleway-Medium.ttf')
@font-face 
    font-family: 'Raleway-Regular'
    src: url('../static/Raleway-Regular.ttf')
@font-face 
    font-family: 'Raleway-Thin'
    src: url('../static/Raleway-Thin.ttf')
@import mixins
.login
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    height: 100vh
    & .block
        display: flex
        flex-direction: column
        width: 30%
        margin: auto
        @include mixinLogin('md')
            width: 40%
        @include mixinLogin('mi')
            width: 70%
        & h2
            font-size: 2rem
            font-weight: 600
            margin: .5rem 0
        & div
            & span
                color: #6C737F
                font-family: 'Raleway-Regular'
                font-size: 1rem
            & a
                font-size: 1rem
                text-decoration: 0
                font-family: 'Raleway-Regular'
                color: #E0BEA2
                margin-left: .5rem
        & .input
            margin-top: 2rem
            & input
                color: #6C737F
                border: 1px solid #E5E7EB
                padding: 1rem
                font-family: 'Raleway-Regular'
                width: 100%
        & .attention 
            color: red
            & input
                border: 4px solid red
            & p
                margin: 0
        & .button
            color: white
            width: 100% 
            background: #E0BEA2
            padding: .875rem 0
            text-align: center
            margin-top: 1rem
            cursor: pointer
            font-family: 'Raleway-Regular'

            &:hover
                animation-name: but
                animation-duration: .2s 
                animation-fill-mode: both
        

                
                

        


            
