@font-face 
    font-family: 'Raleway-Bold'
    src: url('../static/Raleway-Bold.ttf')
@font-face 
    font-family: 'Raleway-ExtraBold'
    src: url('../static/Raleway-ExtraBold.ttf')
@font-face
    font-family: 'Raleway-Light'
    src: url('../static/Raleway-Light.ttf')
@font-face 
    font-family: 'Raleway-Medium'
    src:   url('../static/Raleway-Medium.ttf')
@font-face 
    font-family: 'Raleway-Regular'
    src: url('../static/Raleway-Regular.ttf')
@font-face 
    font-family: 'Raleway-Thin'
    src: url('../static/Raleway-Thin.ttf')

.productpage

    & .product
        width: 60%
        margin: auto
        & .container
            height: 100%
            align-items: center
            display: flex
            margin-top: 5rem
            & .gallery
                width: 50%
                height: 50vh
                display: flex
                overflow: hidden
                & .contGallery
                    width: 30%
                    display: flex
                    margin-right: .5rem
                    height: 100%
                    overflow: hidden
                    flex-direction: column
                    position: relative
                    & .btnd
                        position: absolute
                        bottom: 0
                        background: #00000025
                        width: 100%
                        display: flex
                        justify-content: center
                        cursor: pointer
                        height: 1.5rem
                        & img
                            height: 50%
                            position: relative
                            top: 25%
                        &:hover
                            background: #00000049
                    & .btnu
                        position: absolute
                        top: 0
                        background: #00000025
                        width: 100%
                        display: flex
                        justify-content: center
                        cursor: pointer
                        height: 1.5rem
                        z-index: 200
                        transform: rotateZ(180deg)
                        & img
                            height: 50%
                            position: relative
                            top: 25%
                        &:hover
                            background: #00000049
                       
                        
                        
                    & ul
                        display: flex
                        flex-direction: column
                        width: 100%
                        padding: 0
                        height: max-content
                        position: absolute
                        & li
                            position: relative
                            background: #00000010
                            width: 100%
                            height: 10rem
                            padding: 0
                            position: relative
                            transition-duration: .4s
                            transition-timing-function: easy-in-out
                            & img
                                cursor: pointer
                                position: absolute
                                height: 100%
                                left: 50%
                                transform: translate(-50%,0)
                            &:hover
                                background: #0000001a
                                


                & .preview
                    position: relative
                    height: 30rem
                    width: 70%
                    & img
                        position: absolute
                        height: 100%
                        left: 50%
                        transform: translate(-50%,0)
            & .info
                width: 50%
                padding: 0 2rem
                & .name
                    font-family: 'Raleway-Regular'
                & .short
                    font-family: 'Raleway-Ligth'
                    margin-top: 1rem
                & .price
                    font-family: 'Raleway-Bold'
                    margin: 0
                    margin-top: 1rem
                & select
                    padding: 1rem 1.25rem
                    width: 100%
                    border: .5px solid #252525
                    font-family: 'Raleway-Ligth'
                    color: #252525
                    margin-top: 1rem
                & .incart
                    padding: 1rem 0
                    width: 100%
                    background: #E0BEA2
                    font-family: 'Raleway-Regular'
                    color: white
                    text-align: center
                    cursor: pointer
                    margin-top: 1rem
                    text-transform: uppercase
        & .details
            margin-top: 5rem
            & h4
                font-family: 'Raleway-Regular'
                margin: 0
                padding: 1rem 0
                border-bottom: 1px solid #25252550
            & p
                margin-top: 1rem
                font-family: 'Raleway-Regular'
            & .attributes
                display: flex
                flex-direction: column
                & span
                    font-family: 'Raleway-Regular'
                & li
                    font-family: 'Raleway-Light'
        & .recommendations
            margin-top: 5rem
            & h3
                font-family: 'Raleway-Regular'
            & .cont
                display: flex
                flex-wrap: wrap
                & .product
                    width: max-content
                    transform: scale(0.9, 0.9)
        

